.experience h1 {
    position: absolute;
    color: #fbfbfb;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 15%;
}
 
.exp{
 padding-bottom: 15px;
}
.outer-div {
   
   
    padding: 15vh;
    padding-top: 5vh;
    display:block;
    flex-direction: column;

}
  
.outer-div .exp {

    width: 80vw;
    position: relative;
    margin: 0 auto;
}
  
.exp h2 {
    color: #fbfbfb;
   
}
  
.exp h2::before {
    content: "";
    height: 10px;
    width: 10px;
    color: #149b0d;
    background-color: #47b109;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 7.5%;
    left: -5%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px #85fe6a;
    z-index: -6;
}
  





.exp-desc::before {
    content: "";
    height: 90%;
    width: 2.5px;
    background-color: #fbfbfb;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: -5%;
  }
.exp-desc h3 {
    color: #fbfbfb;

    margin: 10px 0;
}
  
  .exp-desc ul {
    color: #fbfbfb;
    font-size: 20px;
    font-style: oblique;
    list-style:none;

}
li {
      margin-bottom: 15px; 
    }